body {
  font-family: "Trebuchet MS", "Lucida Grande",
  "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.piece {
  width: 30px;
  height: 30px;
  border: 0px;
}

.button {
  width: 30px;
  height: 30px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #222222;
  padding: 3px 3px;
}

.red {
  background-color: crimson;
}
.yellow {
  background-color: gold;
}
.green {
  background-color: limegreen;
}
.blue {
  background-color: dodgerblue;
}
.purple {
  background-color: blueviolet;
}
.pink {
  background-color: violet;
}

#game-table {
  margin: 0px;
  border: 0px;
  padding: 0px;
  border-spacing: 0px;
  box-shadow: 3px 3px 3px #222222;
}
#button-table {
  border-spacing: 5px;
  vertical-align: top;
}
#turn-counter {
  font-size: 18;
  font-family: "Trebuchet MS", "Lucida Grande",
  "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  text-align: center;
}

input[type=button] {
  width: 125px;
  height: 40px;
  border: none;
  border-radius: 15px;
  background-color: skyblue;
  color: black;
  margin: 4px 2px;
  padding: 8px 4px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #222222;
}
